swagger: '2.0'
info:
  title: iReceptor Data Source API
  version: 2.0.5
  contact:
    name: iReceptor Project
    url: 'http://www.ireceptor.org/'
    email: breden@sfu.ca
  description: >
    Documentation of Major Version 2 of the iReceptor Adaptive Immune Receptor
    Repertoire (AIRR) data repsoitory web service application programming interface
    (API). V2 of the API implements an increased level of compliance with the
    [Minimal Information for AIRR (MiAIRR)
    standard](https://github.com/airr-community/airr-standards). Learn more
    about [iReceptor](http://www.ireceptor.org/)
host: ipa.ireceptor.org
basePath: /v2
definitions:
  # A definition of the summary response for an iReceptor API call. This 
  # response is used wherever summary data at the sample level is provided
  # by an API call. It is composed of the sequence count, the relevant AIRR
  # model elements, and the revelant iReceptor model elements.
  ireceptor_summary_response:
    type: array
    items:
      allOf:
      - $ref: '#/definitions/ireceptor_sequence_count_model'
      - $ref: '#/definitions/airr_summary_model'
      - $ref: 'https://raw.githubusercontent.com/sfu-ireceptor/api/AIRR-compliance/ireceptor_sequences.yaml#/ireceptor_summary_model'
  # A definition of the sequence response for an iReceptor API call. This
  # response is used wherever sequence data is provided by an API call.
  # It is a composite of the sequence fields defined by the MiAIRR standard,
  # the sequence fields defined by the AIRR Formats working group, and any
  # ancillary fields defined by iReceptor.
  ireceptor_sequence_response:
    type: array
    items:
      allOf:
      - $ref: 'https://raw.githubusercontent.com/sfu-ireceptor/api/AIRR-compliance/MiAIRR_rearrangement.yaml#/MiAIRR_Rearrangements'
      - $ref: 'https://raw.githubusercontent.com/sfu-ireceptor/api/AIRR-compliance/Formats_rearrangement.yaml#/Formats_Rearrangements'
      - $ref: 'https://raw.githubusercontent.com/sfu-ireceptor/api/AIRR-compliance/ireceptor_sequences.yaml#/ireceptor_sequence_annotation_model'
  # The AIRR Minimal Standards model for metadata above the sequence annotation level.
  airr_summary_model:
    allOf:
    - $ref: 'https://raw.githubusercontent.com/airr-community/airr-standards/master/specs/definitions.yaml#/Study'
    - $ref: 'https://raw.githubusercontent.com/airr-community/airr-standards/master/specs/definitions.yaml#/Subject'
    - $ref: 'https://raw.githubusercontent.com/airr-community/airr-standards/master/specs/definitions.yaml#/Diagnosis'
    - $ref: 'https://raw.githubusercontent.com/airr-community/airr-standards/master/specs/definitions.yaml#/Sample'
    - $ref: 'https://raw.githubusercontent.com/airr-community/airr-standards/master/specs/definitions.yaml#/CellProcessing'
    - $ref: 'https://raw.githubusercontent.com/airr-community/airr-standards/master/specs/definitions.yaml#/NucleicAcidProcessing'
    - $ref: 'https://raw.githubusercontent.com/airr-community/airr-standards/master/specs/definitions.yaml#/RawSequenceData'
    - $ref: 'https://raw.githubusercontent.com/airr-community/airr-standards/master/specs/definitions.yaml#/SoftwareProcessing'
  # A simple model to represent a sequence count, used to make the 
  # composite responses clean in that they all refer to models.
  ireceptor_sequence_count_model:
      type: object
      properties:
        sequence_count:
          type: integer
          example: 123456
schemes:
  - https
produces:
  - application/json
tags:
  - name: info
    description: Service information
  - name: samples
    description: Queries for samples
  - name: sequences
    description: Queries for sequences
  - name: clones
    description: Queries for clones
paths:
  /:
    x-swagger-router-controller: status
    get:
      description: |
        Service heartbeat.
      operationId: getStatus
      responses:
        '200':
          description: |
            Success.
          schema:
            type: object
            properties:
              result:
                type: string
  /info:
    x-swagger-router-controller: status
    get:
      description: |
        Service information.
      tags:
        - info
      operationId: getInfo
      responses:
        '200':
          description: |
            Success.
          schema:
            type: object
            properties:
              name:
                type: string
              version:
                type: string
  /swagger:
    x-swagger-pipe: swagger_raw
  /samples:
    x-swagger-router-controller: samples
    get:
      description: >
        This service returns metadata about samples, including higher-level
        meta-data around the study, subject, diagnosis, and sample processing
        (data relevant to MiAIRR data classes 1 through 3). The data returned is
        filtered based on the parameters provided.

        A successful call returns a json list with a sample level summary of
        each sample including a summary count of the number of sequences found
        for that sample.
      tags:
        - samples
      parameters:
        - name: username
          in: query
          description: >
            Username of the individual requesting access to the iReceptor
            repository node.
          required: true
          type: string
        - name: lab_id
          in: query
          description: |
            e.g. 1
          required: false
          type: integer
        - name: project_id
          in: query
          description: |
            e.g. 1
          required: false
          type: array
          items:
            type: integer
        - name: subject_code
          in: query
          description: |
            e.g. test
          required: false
          type: string
        - name: subject_gender
          in: query
          description: |
            e.g. Male or Female
          required: false
          type: string
        - name: subject_species
          in: query
          description: |
            e.g. Human
          required: false
          type: string
        - name: subject_ethnicity
          in: query
          description: |
            e.g. Caucasian
          required: false
          type: string
        - name: subject_age_min
          in: query
          description: |
            e.g. 10
          required: false
          type: integer
        - name: subject_age_max
          in: query
          description: |
            e.g. 12
          required: false
          type: integer
        - name: case_control_name
          in: query
          description: |
            e.g. Control
          required: false
          type: string
        - name: sample_name
          in: query
          description: |
            e.g. test2
          required: false
          type: string
        - name: sample_source_name
          in: query
          description: |
            e.g. Blood (PBMC)
          required: false
          type: string
        - name: ireceptor_cell_subset_name
          in: query
          description: |
            e.g. NaiveB
          required: false
          type: string
        - name: dna_type
          in: query
          description: |
            e.g. cDNA, gDNA
          required: false
          type: string
      operationId: getSamples
      responses:
        '200':
          description: |
            A successful call returns an array of sample summary metadata for
            each sample that meets the search criteria. The metadata returned
            for each sample includes the number of sequences found for that sample
            as well as the study/subject/sample data for that sample. The metadata
            for each sample in the response contains a set of AIRR compliant data
            as well as repository specific data that is required to query the
            repository about those types of elements. 
          schema:
            $ref: '#/definitions/ireceptor_summary_response'
        '400':
          description: malformed request
        '401':
          description: authentication error
        '403':
          description: authorization error
        '404':
          description: data not found
        '405':
          description: method not allowed
    post:
      description: >
        This service returns metadata about samples, including higher-level
        meta-data around the study, subject, diagnosis, and sample processing
        (data relevant to MiAIRR data classes 1 through 3). The data returned is
        filtered based on the parameters provided.

        A successful call returns a json list with a sample level summary of
        each sample including a summary count of the number of sequences found
        for that sample.
      tags:
        - samples
      parameters:
        - name: query
          in: body
          required: true
          schema:
            type: object
            required:
              - username
            properties:
              username:
                type: string
                description: >
                  Username of the individual requesting access to the iReceptor
                  repository node.
              lab_id:
                type: integer
                description: |
                  e.g. 1
              project_id:
                type: array
                items:
                  type: integer
                description: |
                  e.g. 1
              subject_code:
                type: string
                description: |
                  e.g. test
              subject_gender:
                type: string
                description: |
                  e.g. Male
              subject_ethnicity:
                type: string
                description: |
                  e.g. Caucasian
              subject_species:
                type: string
                description: |
                  e.g. Human
              subject_age_min:
                type: integer
                description: |
                  e.g. 10
              subject_age_max:
                type: integer
                description: |
                  e.g. 12
              case_control_name:
                type: string
                description: |
                  e.g. Control
              sample_name:
                type: string
                description: |
                  e.g. test2
              sample_source_name:
                type: array
                items:
                  type: string
                description: |
                  e.g. Blood (PBMC)
              ireceptor_cell_subset_name:
                type: array
                items:
                  type: string
                description: |
                  e.g. NaiveB
              dna_type:
                type: array
                items:
                  type: string
                description: |
                  e.g. cDNA
      operationId: postSamples
      responses:
        '200':
          description: >
            A successful call returns the metadata for each sample, including
            the number of sequences found for that sample.
          schema:
            $ref: '#/definitions/ireceptor_summary_response'
        '400':
          description: malformed request
        '401':
          description: authentication error
        '403':
          description: authorization error
        '404':
          description: data not found
        '405':
          description: method not allowed
  /sequences_summary:
    x-swagger-router-controller: sequences
    get:
      description: >
        This service returns a summary of sequences that matches the GET
        provided filter. "username" parameter refers to external_users table.
      tags:
        - sequences
      parameters:
        - name: username
          in: query
          description: >
            Username of the individual requesting access to the iReceptor
            repository node.
          required: true
          type: string
        - name: project_sample_id_list
          in: query
          required: true
          type: array
          items:
            type: integer
        - name: cdr3_length
          in: query
          description: >-
            length of complementarity determining region in nucleotide base
            pairs
          required: false
          type: integer
        - name: vgene_string
          in: query
          required: false
          type: string
        - name: jgene_string
          in: query
          required: false
          type: string
      operationId: getSequenceSummary
      responses:
        '200':
          description: >
            A successful call returns two components, an aggregated summary of the data
            that satisfies the query and an example subset of the annotated sequence data
            that meets the query criteria. The aggreated data returns a summary similar
            to that returned by the /samples API entry point, returning the number of
            sequences and the study/subject/sample meta-data for each sample. The example
            subset of sequence data that is returned is a small subset of annotated sequences
            that met the search criteria. The number of sequences returned is given in the
            "num_sequences" paramter to the query and the format in which the sequences are
            returned is provided by the "sequence_format" parameter to the query.
          schema:
            type: object
            properties:
              summary:
                $ref: '#/definitions/ireceptor_summary_response'
              items:
                $ref: '#/definitions/ireceptor_sequence_response'
        '400':
          description: malformed request
        '401':
          description: authentication error
        '403':
          description: authorization error
        '404':
          description: data not found
        '405':
          description: method not allowed
  /sequences_data:
    x-swagger-router-controller: sequences
    get:
      description: >
        This service returns the annotation data that matches the GET provided
        filter. "username" parameter refers to external_users table, and it
        requires the array of "project_sample_id", which limits which samples
        the sequences will be taken from. Other parameters are optional, and
        refer to the sequence_md_view view in iReceptor database.
      tags:
        - sequences
      parameters:
        - name: username
          in: query
          description: >
            Username of the individual requesting access to the iReceptor
            repository node.
          required: true
          type: string
        - name: project_sample_id_list
          in: query
          required: true
          type: array
          items:
            type: integer
        - name: cdr3_length
          in: query
          description: >-
            length of complementarity determining region in nucleotide base
            pairs
          required: false
          type: integer
        - name: vgene_string
          in: query
          required: false
          type: string
        - name: jgene_string
          in: query
          required: false
          type: string
        - name: format
          in: query
          description: >-
            'csv' - vQuest based CSV (as per /v1);  'tsv' - vQuest based TSV (as
            per /v1 with tab delimiters instead of commas); 'airr' - AIRR
            Formats rearrangements TSV (as per AIRR formats rearrangements spec)
          required: false
          type: string
      operationId: getSequenceData
      responses:
        '200':
          description: >
            A successful call returns an array of sequence data. Optional
            "format" parameter determines the output format. Default is a JSON
            response, limited to top 50 results. If "format" is set to "csv", it
            will return all the matching sequence annotations, in addition to
            sample information and annotation tool information, in a
            comma-separated format; "tsv" returns a tab-delimited outputs; 
            "airr" returns AIRR minimal standards encoded tab-delimited outputs.
          schema:
            $ref: '#/definitions/ireceptor_sequence_response'
        '400':
          description: malformed request
        '401':
          description: authentication error
        '403':
          description: authorization error
        '404':
          description: data not found
        '405':
          description: method not allowed
    post:
      description: >
        This service returns the annotation data that matches the POST provided
        filter. "username" parameter refers to external_users table, and it
        requires the array of "project_sample_id", which limits which samples
        the sequences will be taken from. Other parameters are optional, and
        refer to the sequence_md_view view in iReceptor database. A full list of
        possible parameters is in the iReceptorAPI-sequenceMetadata file
      tags:
        - sequences
      parameters:
        - name: query
          in: body
          schema:
            type: object
            required:
              - username
            properties:
              username:
                type: string
                description: >
                  Username of the individual requesting access to the iReceptor
                  repository node.
              project_sample_id_list:
                type: array
                items:
                  type: integer
              cdr3_length:
                description: >
                  length of complementarity determining region in nucleotide
                  base pairs
                type: integer
              vgene_string:
                type: string
              jgene_string:
                type: string
              format:
                description: >-
                  'csv' - vQuest based CSV (as per /v1);  'tsv' - vQuest based
                  TSV (as per /v1 with tab delimiters instead of commas); 'airr'
                  - AIRR Formats rearrangements TSV (as per AIRR formats
                  rearrangements spec)
      operationId: postSequenceData
      responses:
        '200':
          description: >
            A successful call returns an array of sequence data. Optional
            "format" parameter determines the output format. Default is a JSON
            response, limited to top 50 results. If "format" is set to "csv", it
            will return all the matching sequence annotations, in addition to
            sample information and annotation tool information, in a
            comma-separated format; "tsv" returns a tab-delimited outputs; 
            "airr" returns AIRR minimal standards encoded tab-delimited outputs.
          schema:
            $ref: '#/definitions/ireceptor_sequence_response'
        '400':
          description: malformed request
        '401':
          description: authentication error
        '403':
          description: authorization error
        '404':
          description: data not found
        '405':
          description: method not allowed
  /clones_summary:
    x-swagger-router-controller: clones
    get:
      description: >
        This service returns a summary of sequence clones that match the GET
        provided filter. "username" parameter refers to external_users table.
      tags:
        - clones
      parameters:
        - name: username
          in: query
          description: >
            Username of the individual requesting access to the iReceptor
            repository node.
          required: true
          type: string
        - name: project_sample_id_list
          in: query
          required: true
          type: array
          items:
            type: integer
        - name: cdr3_length
          in: query
          description: >-
            length of complementarity determining region in nucleotide base
            pairs
          required: false
          type: integer
        - name: vgene_string
          in: query
          required: false
          type: string
        - name: jgene_string
          in: query
          required: false
          type: string
      operationId: getCloneSummary
      responses:
        '200':
          description: >
            A successful call returns an summary of clone data as an array of
            'category' = count pairs in which the 'category' are string tags of
            parameters of interest from a controlled vocabulary term set.
          schema:
            type: object
            properties:
              summary:
                $ref: '#/definitions/ireceptor_summary_response'
              items:
                $ref: '#/definitions/ireceptor_sequence_response'
        '400':
          description: malformed request
        '401':
          description: authentication error
        '403':
          description: authorization error
        '404':
          description: data not found
        '405':
          description: method not allowed
  /clones_data:
    x-swagger-router-controller: clones
    get:
      description: >
        This service returns a list of clones that matches the GET provided
        filter. "username" parameter refers to external_users table.
      tags:
        - clones
      parameters:
        - name: username
          in: query
          description: >
            Username of the individual requesting access to the iReceptor
            repository node.
          required: true
          type: string
        - name: project_sample_id_list
          in: query
          required: true
          type: array
          items:
            type: integer
        - name: cdr3_length
          in: query
          description: >-
            length of complementarity determining region in nucleotide base
            pairs
          required: false
          type: integer
        - name: vgene_string
          in: query
          required: false
          type: string
        - name: jgene_string
          in: query
          required: false
          type: string
      operationId: getCloneData
      responses:
        '200':
          description: >
            A successful call returns an array of sequence data. Optional
            "output" parameter determines the output format. Default is a JSON
            response, limited to top 50 results. If "output" is set to "csv", it
            will return all the matching sequence annotations, in addition to
            sample information and annotation tool information, in a
            comma-separated format. 
          schema:
            $ref: '#/definitions/ireceptor_sequence_response'
          examples:
            application/json:
              seq_name: |
                M00930:18:000000000-A3782:1:1101:11543:3128_1:N:0
              v_allele: |
                IGHV4-59*01 or  IGHV4-59*07
              d_allele: |
                IGHD3-10*01
              j_allele: |
                IGHJ4*02
              citation:
                doi: 10.1093/cid/ciw767
                title: >
                  RNA-Seq Analysis of Gene Expression, Viral Pathogen, and
                  B-Cell/T-Cell Receptor Signatures in Complex Chronic Disease.
        '400':
          description: malformed request
        '401':
          description: authentication error
        '403':
          description: authorization error
        '404':
          description: data not found
        '405':
          description: method not allowed
